html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body{
    background: linear-gradient(to right, rgb(50, 118, 150), rgb(40, 53, 233));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

.all{
    position: relative;
    top: 15vh;
}

h1{
    color: aliceblue;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5rem;
    display: block;
    text-shadow: 3px 3px 6px black;
}

.controls, button{
    display: flex;
    margin-left: 5%;
    margin: 5px;
    justify-content: center;
}

button{
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 500;
    color: rgb(253, 254, 255);
    background-color: rgb(0, 132, 255);
    box-shadow: 3px 3px 6px black;
}
button:hover{
    transition: ease 1s;
    background-image: linear-gradient(to right, rgb(179, 179, 179), rgb(26, 174, 219));
}
#start:hover {
  animation: sway 0.5s ease-in-out infinite alternate;
}

@keyframes sway {
  0% {
    transform: rotateZ(-5deg);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotateZ(5deg);
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.3);
  }
}

#reset:hover {
  animation: sway 0.5s ease-in-out infinite alternate;
}

@keyframes sway {
  0% {
    transform: rotateZ(-5deg);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotateZ(5deg);
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.3);
  }
}

#stop:hover {
  animation: sway 0.5s ease-in-out infinite alternate;
}

/* Define the sway motion */
@keyframes sway {
  0% {
    transform: rotateZ(-5deg);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotateZ(5deg);
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.3);
  }
}


.time{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 500%;
    color: rgb(0, 0, 0);
}

#min, #sec, #milsec{
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 8px rgb(175, 179, 178);
    font-family: Arial, Helvetica, sans-serif;
}

